$width-mobile: 375px;
$width-desktop: 1440px;

$color-primary-red: hsl(0, 78%, 62%);
$color-primary-cyan: hsl(180, 62%, 55%);
$color-primary-orange: hsl(34, 97%, 64%);
$color-primary-blue: hsl(212, 86%, 64%);
$color-neutral-dark-blue: hsl(234, 12%, 34%);
$color-neutral-grayish: hsl(229, 6%, 66%);
$color-neutral-light-gray: hsl(0, 0%, 98%);

$font-size: 15px;
$font-family: 'Poppins';
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 600;

body {
  font-family: $font-family, sans-serif;
  font-size: $font-size;
  font-weight: $font-weight-normal;
  background-color: $color-neutral-light-gray;
}

.container {
  margin: 5rem 1.5rem 5rem 1.5rem;
  text-align: center;

  .header1 {
    font-weight: $font-weight-light;
    font-size: 1.4375rem;
    color: $color-neutral-dark-blue;
  }

  .header2 {
    font-weight: $font-weight-bold;
    font-size: 1.4325rem;
    color: $color-neutral-dark-blue;
    margin-bottom: 1rem;
  }

  .content {
    color: $color-neutral-grayish;
  }

  .cards-container {
    margin-top: 4rem;
    
    .card {
      cursor: pointer;
      border-top: solid $color-primary-cyan 4px;
      border-top-left-radius: 4px 4px;
      border-top-right-radius: 4px 4px;
      margin-bottom: 1.5rem;
      padding: 1.5rem 1.75rem 1.5rem 1.75rem;
      background-color: white;
      box-shadow: 1px 3px 25px -9px $color-neutral-grayish;
      display: flex;
      flex-direction: column;

      .card-title {
        margin-bottom: 0.5rem;
        align-self: flex-start;
        font-weight: $font-weight-bold;
        font-size: 1.25rem;
        color: $color-neutral-dark-blue
      }

      .card-content {
        margin-bottom: 1.75rem;
        text-align: left;
        font-size: 0.825rem;
        line-height: 1.375rem;
        color: $color-neutral-grayish;
      }

      .card-icon-container {
        align-self: flex-end;
      }
    }
  }
}

@media (min-width: 880px) {
  .container {

    .header1 {
      font-size: 2.125rem;
      font-weight: 200;
    }

    .header2 {
      font-size: 2.125rem;
    }

    .content {
      margin: 0 27vw 0 27vw;
    }

    .cards-container {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      align-items: center;
      
      .card {
        margin: 1rem 1rem 1rem 1rem;
      }
    }

  }
}